html {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    font-family: 'Exo 2', sans-serif;
}

#display {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 150px;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 5px 5px rgb(151, 151, 151);
    background-color: white;
}

#user-input {
    color: rgb(151, 151, 151);
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    margin: 10px;
    text-align: right;
    height: 30%;
}

#output {
    color: rgb(98, 98, 98);
    font-size: 30px;
    margin: 10px;
    text-align: right;
    height: 30%
}

#calculator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 420px;
    height: 570px;
    margin: 75px;
}

#buttons {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 400px;
}

.button {
    color: rgb(151, 151, 151);
    font-size: 30px;
    width: 90px;
    height: 70px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    box-shadow: 5px 5px rgb(151, 151, 151);
}

.button:active {
    box-shadow: 2px 2px rgb(151, 151, 151);
    transform: translateY(4px);
}
